@keyframes alertFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    85% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

@layer utilities {
    .animate-alert-fade-out {
        animation: alertFadeOut 5s ease-out forwards;
    }
}